<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert</title>
</head>
<body>
    <form method="POST">
        <input type="text", name="first_name"> first name
        <input type="text", name="last_name"> last name
        <input type="email", name="email"> email
        <input type="submit" value="Submit">
    </form>
</body>
</html>